#main-menu {
    background-color: white;
    padding: 40px;
    color: #000000;
	font-family: 'Roboto', sans-serif;
    position: fixed;
    height: 100%;
}
#main-menu a {
	color: #707070;
	text-decoration: none;
	font-size: 14pt;
    padding-right: 10px;
}
#main-menu a:hover {
	color: #121212;
}
#main-menu .selected {
    color: #C67171;
}
#main-menu h1 {
    padding-top: 20px;
    font-size: 18px;
}

#home {
    padding-top: 20px;
	padding-left: 30px;
}
#home img {
    width:60%
}

#profile {
    padding-top: 20px;
	padding-left: 30px;
}
#profile img {
    width:50%
}
#profile p {
    font-family: 'Roboto', sans-serif;
}

#projects {
    padding-top: 40px;
    margin-left: 12em;
}
#project {
    padding-top: 5px;
    padding-left: 50px;
    display: unset;
}
#project img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: 2px;
}
#project img:hover {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: auto;
    border:2px solid #C67171; 
}
